@font-face {
    font-family: 'MullerExtraBold';
    src: url('../fonts/MullerExtraBold.otf');
}
@font-face {
    font-family: 'RobotoBold';
    src: url('../fonts/RobotoBold.woff');
}
@font-face {
    font-family: 'RobotoRegular';
    src: url('../fonts/RobotoRegular.woff');
}
html{
    height: 100%;
}
body {
    width: 100%;
    height: 100%;
    font-size: 18px;
    font-family: MullerExtraBold, Arial, Verdana;
}
.wrapper{
    display: flex;
    flex-direction: column;
    height: 100%;
    background: url("../img/bg-ind4.jpg") 50% 0 no-repeat;
    background-size: cover;
}
.container {
    width: 960px;
    margin: 0 auto;
    /*outline: 1px solid red;*/
}
.main-content {
    flex: 1 0 auto;
}
.main-footer {
    flex: 0 0 auto;
}
.main-title {
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 72px;
    color: #18537e;
     text-align: center;
    text-transform: uppercase;
    letter-spacing: 12px;
}
.slogan {
    display: block;
    margin-bottom: 30px;
    text-align: center;
    font-size: 50px;
    font-family: RobotoBold;
    text-transform: uppercase;
    color: #18537e;
      letter-spacing: 19px;
}
.menu {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
}
.menu__item {
    display: inline-block;
    vertical-align: top;
}
.menu__link {
    display: inline-block;
    margin-left: 108px;
    padding: 20px;
    font-size: 18px;
    font-family: RobotoBold;
    vertical-align: top;
    text-transform: uppercase;
    color: #18537e;
    text-decoration: none;
}

.menu__item:nth-child(2) .menu__link {
    /*margin-left: 41px;*/
}
.menu__item:last-child .menu__link {
    margin-left: 320px;
}
.menu__link:hover,
.menu__link-active{
    color: #ffffff;
}

.gerb {
    display: block;
    width: 500px;
    margin: 0 auto;
    /*outline: 1px solid red;*/
}
/*------ photo_gallery.phph -------*/
.inner__title {
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: 60px;
    color: #18537e;
    /*color: #ffffff;*/
    /*color: #2b5a51;*/
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 12px;
}
.photo{
    /*padding-top: 50px;*/
    font-size: 0;
}
.photo__item{
    display: inline-block;
    width: 300px;
    margin: 0 30px 30px 0;
    vertical-align: top;
}
.photo__item:nth-child(3n){
    margin-right: 0;
}
.photo__item img{
    width: 300px;
}
/*------- train_timetables.php__---------*/
.inner__title--small {
    margin-bottom: 30px;
    font-size: 43px;
    letter-spacing: 10px;
}
.timetables{
    width: 800px;
    margin: 0 auto;
    font-size: 16px;
    font-family: RobotoBold;
    background: linear-gradient(#c8e3f8, #d5d9e2);
    border: 1px solid #000;
    /*color: #ffffff;*/
}
.timetables__header th{
    border: 1px solid #000;
}
.timetables tr{
    padding: 5px;
    border: 1px solid #000;
}

.timetables td {
    padding: 5px;
    text-align: center;
    border: 1px solid #000;
}
tfoot ul {
    padding: 0px;
}

tfoot ul li {
    margin: 0 2px;
    cursor: pointer;
    padding: 1px 6px;
    border: solid 1px #666;
    display: inline;
}

/*----- login.php ------*/
.login-panel__title,
.admin-panel__title{
    margin-top: 50px;
    margin-bottom: 25px;
    font-size: 40px;
    color: #18537e;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.admin-panel__title{
    margin-top: 25px;}
.login-panel__form{
    width: 420px;
    margin: 0 auto 35px;
    font-family: RobotoRegular;
    /*font-size: 16px;*/
    color: #18537e;
}
.login-panel__form fieldset{
    padding: 10px 25px 30px 25px;
    border: 1px solid #18537e;
    border-radius: 20px;
}
.login-panel__form label,
.login-panel__form input[type=text],
.login-panel__form input[type=password]{
    display: block;
    margin-bottom: 10px;
    outline: none;
}
.login-panel__form input[type=password]{
    margin-bottom: 35px;
}
.login-panel__form input[type=text],
.login-panel__form input[type=password] {
    width: 350px;
    padding: 5px 10px;
    border: 1px solid #18537e;
    background-color: inherit;
}
.login-panel__form input[type=submit]{
    margin-left: 140px;
    padding: 5px 20px;
    text-transform: uppercase;
    border: 1px solid #18537e;
    background-color: inherit;
    outline: none;
}
.login-panel__form input[type=submit]:hover{
    color: #ffffff;
}
.login-panel__link{
    margin-left: 348px;
    padding: 10px 20px;
    border: 1px solid #18537e;
    border-radius: 30px;
}
/*---- admin_panel.php -----*/
.wrapper-admin-panel{
    display: flex;
    flex-direction: column;
    height: 100%;
    /*background: #c8e3f8;*/
    /*background-size: cover;*/
}
.admin-panel__link{
    margin-left: 20px;
}
.admin-panel__link:hover{
    color: #18537e;
    text-decoration: underline;
}
.menu__item:last-child .admin-panel__link {
    margin-left: 20px;
}
.admin-panel__slogan fieldset,
.admin-panel__photo fieldset,
.admin-panel__train fieldset{
    margin: 0;
    padding: 10px 25px 30px 25px;
    border: 1px solid #18537e;
    border-radius: 20px;
}
.admin-panel__slogan input[type=text],
.admin-panel__train input[type=text]{
    padding: 5px;
    border: 1px solid #18537e;
    background-color: inherit;
    outline: none;
}
.admin-panel__slogan input[type=text]{
    width: 400px;
}
.admin-panel__slogan,
.admin-panel__photo{
    display: inline-block;
    /*width: 460px;*/
    /*margin-right: 30px;*/
    margin-bottom: 35px;
    font-family: RobotoRegular;
    color: #18537e;
}
.admin-panel__photo{
    margin-right: 0;
}
.admin-panel__train{
    font-family: RobotoRegular;
    color: #18537e;
    margin-bottom: 30px;
}
.admin-panel__train label{
    display: block;
}
.admin-panel__train input[type=text]{
    width: 270px;
}
.admin-panel__train input[type=submit]:first-child{
    margin-left: 340px;
}
.admin-panel__train input[type=submit]{
    margin-right: 30px;
}
.admin-panel__train-col{
    display: inline-block;
    vertical-align: top;
    width: 285px;
    margin-right: 20px;
}
.admin-panel__train-row{
    margin-bottom: 20px;
}
.admin-panel__train-row:last-child{
    margin-bottom: 0;
}
.admin-panel__train-row .admin-panel__train-col:nth-child(3){
    margin-right: 0;
}
/*---- error.php -----*/
.error-text{
    text-align: center;
    font-size: 25px;
    color: red;
}