@font-face {
    font-family: 'MullerExtraBold';
    src: url('../fonts/MullerExtraBold.otf');
}
@font-face {
    font-family: 'RobotoBold';
    src: url('../fonts/RobotoBold.woff');
}
@font-face {
    font-family: 'RobotoRegular';
    src: url('../fonts/RobotoRegular.woff');
}
body {
    font-size: 18px;
    font-family: MullerExtraBold, Arial, Verdana;
    background: url("../img/bg-ind4.jpg") 50% 0 no-repeat;
}
.container {
    width: 960px;
    margin: 0 auto;
    /*outline: 1px solid red;*/
}
.main-title {
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 72px;
    color: #18537e;
     text-align: center;
    text-transform: uppercase;
    letter-spacing: 12px;
}
.slogan {
    display: block;
    margin-bottom: 30px;
    text-align: center;
    font-size: 50px;
    font-family: RobotoBold;
    text-transform: uppercase;
    color: #18537e;
      letter-spacing: 19px;
}
.menu {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 0;
}
.menu__item {
    display: inline-block;
    vertical-align: top;
}
.menu__link {
    display: inline-block;
    margin-left: 108px;
    padding: 20px;
    font-size: 18px;
    font-family: RobotoBold;
    vertical-align: top;
    text-transform: uppercase;
    color: #18537e;
    text-decoration: none;
}

.menu__item:nth-child(2) .menu__link {
    margin-left: 41px;
}
.menu__item:last-child .menu__link {
    margin-left: 41px;
}
.menu__link:hover,
.menu__link-active{
    color: #ffffff;
}

.gerb {
    display: block;
    width: 500px;
    margin: 0 auto;
    /*outline: 1px solid red;*/
}
/*------ photo_gallery.phph -------*/
.inner__title {
    margin-top: 10px;
    margin-bottom: 25px;
    font-size: 60px;
    color: #18537e;
    /*color: #ffffff;*/
    /*color: #2b5a51;*/
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 12px;
}
.photo{
    /*padding-top: 50px;*/
    font-size: 0;
}
.photo__item{
    display: inline-block;
    width: 300px;
    margin: 0 30px 30px 0;
    vertical-align: top;
}
.photo__item:nth-child(3n){
    margin-right: 0;
}
.photo__item img{
    width: 300px;
}
/*------- train_timetables.php__---------*/
.inner__title--small {
    margin-bottom: 30px;
    font-size: 43px;
    letter-spacing: 10px;
}
.timetables{
    width: 800px;
    margin: 0 auto;
    font-size: 16px;
    font-family: RobotoBold;
    background: linear-gradient(#c8e3f8, #d5d9e2);
    border: 1px solid #000;
    /*color: #ffffff;*/
}
.timetables__header th{
    border: 1px solid #000;
}
.timetables tr{
    padding: 5px;
    border: 1px solid #000;
}

.timetables td {
    padding: 5px;
    text-align: center;
    border: 1px solid #000;
}
tfoot ul {
    padding: 0px;
}

tfoot ul li {
    margin: 0 2px;
    cursor: pointer;
    padding: 1px 6px;
    border: solid 1px #666;
    display: inline;
}
/*------ search.php -------*/
.map {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    font-family: RobotoRegular;
    font-size: 16px;
}
.map form{
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10;
}
.map form input[type=text]{
    width: 160px;
    padding: 4px;
    font-family: RobotoRegular;
    font-size: 16px;
    border: 1px solid #cccccc;
    background-color: #ffffff;
    outline: none;
}
.map form input[type=submit]{
    font-family: RobotoRegular;
    height: 31px;
    outline: none;
}
.map form p{
    padding: 4px 0;
    font-family: RobotoRegular;
    font-size: 16px;
    text-align: center;
    border: 1px solid #cccccc;
    background-color: #ffffff;
}